<!DOCTYPE html>
<html>
<head>
  <title>LocaLondon</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
    }
    h1 {
      word-wrap: break-word;
      font-family:sans-serif;
    }
  </style>
</head>
<body>
  <h1>Hello. World. And Others.</h1>
  <p>Not much to see here yet. Try https://twitter.com/localondon</p>
</body>
</html>